<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="index.html" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <img
                    width="25"
                    viewBox="0 0 25 42"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    src="assets/img/favicon/favicon.ico"
                  >
                </span>
                <span class="app-brand-text demo text-body fw-bolder">Assignement</span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">Bienvenue! 👋</h4>
            <p class="mb-4">Veuillez-vous connecter</p>

            <form id="formAuthentication" class="mb-3"  [formGroup]="formGroup" class="form" (ngSubmit)="submitForm()">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email-username"
                  formControlName="email"
                  placeholder="Entrez votre email"
                  autofocus
                  matInput
                />
                <mat-error *ngIf="formGroup.get('email')?.hasError('email') && !formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched">
                Veuillez entré un email valide
                </mat-error>
                <mat-error *ngIf="formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched">
                Email <strong>requis</strong>
                </mat-error>
              </div>
              <div class="mb-3 ">
                <div class="mb-3">
                  <label class="form-label" for="password">Mots de passe</label>
                </div>
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    formControlName="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password"
                    matInput
                  />
                <mat-error *ngIf="formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched">
                Mots de passe <strong>requis</strong>
                </mat-error>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">Se connecter</button>
              </div>
            </form>

            <p class="text-center">
              <span>Nouveau sur la plateform? </span>
              <a href="auth-register-basic.html">
                <span>Créer un compte</span>
              </a>
            </p>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>