<h2>{{titre}}</h2>

<main class="container">
    <nav class="ajouterBtn">
        <a routerLink="/add">
            <button mat-flat-button color="accent"> Ajouter Assignment
            </button>
        </a>
    </nav>


 
    <mat-divider></mat-divider>
    <p>
        Nb assignments total {{totalDocs}}, par page {{limit}}, nbPages {{totalPages}}
    </p>
    <p>
        Régler nb par page : 
           <input type="range" 
                  min=1 max=100 value=10 
                  [(ngModel)]="limit"
                  (change)="getAssignments()"
           /> {{limit}}
    </p>
<p>
    <button (click)="premierePage()" [disabled]="!hasPrevPage">
        Première page
    </button>
    <button (click)="pagePrecedente()" [disabled]="!hasPrevPage">
        Page Précédente
    </button>
    <button (click)="pageSuivante()" [disabled]="!hasNextPage">Page Suivante</button>
    <button (click)="dernierePage()" [disabled]="!hasNextPage">
        Derniere page
    </button>
</p>
<h1>Affichage avec data table</h1>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Selection de la page des assigments"
                 (page)="handlePage($event)"
                 class="demo-paginator"
                 [length]="totalPages"
                 [pageSize]="limit"
                 [pageIndex]="page"
  >
  </mat-paginator>

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row mb-5">
            <div class="col-md-6 col-lg-3 mb-3" *ngFor="let number of [0,1,2,3,4]">
                <div class="card h-100">
                    <mat-card >
                        <mat-card-header>
                            <mat-card-title-group>
                              <mat-card-title class="text-one-line text-p">Titre du devoir </mat-card-title>
                              <mat-card-subtitle  class="text-one-line"> 
                                02/02/2023 
                                <!-- {{assigment.dateDeRendu| date: 'dd/MM/yy'}} -->
                              </mat-card-subtitle>
                              <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                            </mat-card-title-group>
                          </mat-card-header>
                        <mat-card-content><p>Randriamihaja Ambinintsoa Maria </p></mat-card-content>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-actions>
                          <button mat-button
                          data-bs-toggle="modal"
                          data-bs-target="#modalScrollable">Details</button>
                          <button mat-button>Edit</button>
                          <button mat-button color="warn">Delete</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
              
            </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <app-assignment-detail></app-assignment-detail>
        </div>
      </div>
    </div>
  </div>
