 <!-- Form controls -->
 <div class="col-md-6">
    <div class="card mb-4">
      <h5 class="card-header">Ajouter un assignment</h5>
      <div class="card-body">

          <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Complétez le nom du devoir</ng-template>
                <mat-form-field appearance="outline">
                  <mat-label>Nom du devoir</mat-label>
                  <input matInput formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Suivant</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Complétez la matière</ng-template>
                
                <mat-form-field appearance="outline">
                    <mat-label>Matière</mat-label>
                    <mat-select>
                    <mat-option value="one">Matière 1</mat-option>
                    <mat-option value="two">Matière 2</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Precedent</button>
                  <button mat-button matStepperNext>Suivant</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                  <ng-template matStepLabel>Complétez la date de rendu</ng-template>
                  <mat-form-field appearance="outline">
                    <mat-label>Date de rendu</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Precedent</button>
                    <button mat-button matStepperNext>Suivant</button>
                  </div>
                </form>
              </mat-step>
            <mat-step>
              <ng-template matStepLabel>Fait</ng-template>
              <p>Ajouter un devoir.</p>
              <div>
                <button mat-button matStepperPrevious>Precedent</button>
                <button mat-button >Reset</button>
              </div>
            </mat-step>
          </mat-stepper>
        </div>
    </div>
</div>